#footer{
    padding: 35px 0px;
    padding-bottom: 0px;
    background: #3C3C3B;
}
#footer .container .row .col-xs-12{
    margin: 0px;
}
.footer-catalogs{
    margin: 0px;
}
.footer-catalogs{
    padding: 0px;
    height: 79.59px;
}
.footer-catalogs-top{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.footer-catalogs ul{
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
}
.footer-catalogs ul li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat';
    cursor: pointer;
    display: inline-block;
}
.footer-catalogs-top ul{
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
}
.footer-catalogs-top ul li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat';
    cursor: pointer;
    display: inline-block;
}

.footer-catalogs .logo{
    float: left;
}
.footer-2{
    background: #E4003A;
    margin-top: 35px;
    padding: 20px 0px;
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
}
.footer-2 .container{
    padding: 0px;
}
.footer-2-text{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
#feedback-form-name{
    width: 45%;
    margin-right: 2.5%;
}
#feedback-form-phone{
    width: 45%;
    margin-left: 2.5%;
}
.feedback-form{
    text-align: center;
}
#feedback-form-mail{
    width: 95%;
}
#feedback-form-msg{
    width: 95%;
}
.feedback-form-inp{
    background: transparent;
    border: 2px solid #FAB526;
    font-family: 'Montserrat';
    padding: 9px 21px;
    font-size: 15px;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
#feedback-form-mail{
    margin: 16px 0px;
}
#feedback-form-btn{
    color: #FAB526;
    margin-top: 16px;
    transition: 0.5s;
    padding: 10px 40px;
}
#feedback-form-btn:hover{
    color: #3C3C3B;
    background: #FAB526;
}
.footer-form-bl{
    border-left: 2px solid #CFD2D3;
}
.footer-form-h2{
    margin: 0px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #FAB526;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
input::-webkit-input-placeholder { color: #FAB526; }
.footer-links li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 100;
}
.footer-links-zag{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 8px;
    font-family: 'Montserrat';
    font-weight: bold;
}
.footer-catalogs .footer-links{
    margin-left: 0px;
}
.footer-links{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-links .col-xs-6{
    margin-left: 0;
    padding-left: 15px;
}
.border-right{
    border-right: 2px solid #CFD2D3;
}
.footer-links-right-col{
    padding-left: 15px;
}
.feedback-form-inp{
    color: #FAB526;
}