#header{
    text-align: left;
    width: 100%;
    position: fixed;
    height: 79.59px;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 3;
    padding: 0px;
}
.logo{
    max-width: 240px;
    display: inline-block;
    padding: 0px;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79.59px;
    padding: 0px;
    background: #E4003A;
}
.header-btn{
    height: 100%;
    border: 0px;
    background: #E4003A;
    padding: 0px;
}
.header-btn a{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.header-btn a:hover{
    text-decoration: none;
}
.nav-other{
    padding: 0px;
    height: 100%;
    display: flex;
    justify-content: end;
}